<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966119648474-1u8jnfvcudu624nnus2fqimg0m7em4ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966119648474-1u8jnfvcudu624nnus2fqimg0m7em4ug</string>
	<key>API_KEY</key>
	<string>AIzaSyB_dapcCALo9TMUQ0EjuQH_6YkC6zOjmUU</string>
	<key>GCM_SENDER_ID</key>
	<string>966119648474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quranApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quran-app-8e802</string>
	<key>STORAGE_BUCKET</key>
	<string>quran-app-8e802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966119648474:ios:68f50ae6173994126389e3</string>
</dict>
</plist>